<header class="header">
    <div class="header-container">
        <div class="logo_wrapper">
            <a href="/">
                <img class="header-logo" src="../../../../static/images/logo.png" alt="No image">
            </a>
        </div>

        <div class="input">
            <input type="input" class="search">
        </div>

        <nav class="header-nav">
            <ul class="nav-list">
            {% for section in sections%}
                <li class="section">
                    <a href="../{{section.slug}}" class="section-title">
                        {{section.title}}
                    </a> 
                </li>
            {% endfor%}
            </ul>
        </nav>
    </div>
</header>