{% extends '_base.html'%}
{% load static %}

<!--* HEAD -->
{% block title %}
    Sections
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/app.css' %}">
{% endblock style %}

<!--* BODY -->

{% block header %}
    {% include 'app/includes/_header.html' %}
{% endblock header %}   

{% block main %}
    <main class="main">   
        <div class="content">
        {% include 'app/includes/_product.html' %}
        </div>
    </main> 
{% endblock main %}

{% block footer %}
{% include 'app/includes/_footer.html' %}
{% endblock footer %}